@import 'style/themes/clin/dist/_colors.scss';

.patient-page {
  &__header {
    &__tags {
      >span {
        font-weight: 500;
        margin-right: 4px;
      }
      .ant-btn{
        display: flex;
        align-items: center;
        span{
          color: $gray-8 !important;
        }
      }
    }
    &__id {
      font-weight: normal !important;
      color:$blue-9 !important;
    }
  }
}