@import './variables.scss';
@import '../../../../../style/themes/colors.scss';

.dropwDownAutoComplete{
  line-height:0;
  min-width:380px;
  
  .label{
    strong{
      color: rgba(35, 55, 80, 0.38);
      font-family: $font;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin-left:4px;
    }
  
  }
  .value{
    color: $gray-8 !important;
    font-size: 12px;
    font-family: $font;
    letter-spacing: 0.4px;
    line-height:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 0;
    .iconCheck{
      color:rgba(35, 55, 80, 0.38);
      opacity:0;
      margin-right: 2px;
    }
  
    &:hover{
      .valueCount{
        span{
          background-color:#ffffff !important;
        }
  
      }
    }
  
  
    .valueCount{
      span{
        padding:3px 4px;
        color: rgba(35, 55, 80, 0.78) !important;
        font-family: $font;
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height:10px;
        text-align: center;
        margin:0 0 0 12px;;
  
      }
    }
  
  }

  .selectedValue{
    color: $gray-6 !important;
    .iconCheck{
      color:rgba(35, 55, 80, 0.38);
      opacity:1;
      margin-right: 2px;
    }
  
  }
  
}