@import './variables.scss';

.query {

  width: 100%;

  .toolbar {

    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -2px;

    .title {

      >span>input {
        font-family: $font;
        font-size: $little-font;
        font-weight: $font-weight-medium;
        letter-spacing: $small-letter-spacing;
        width: 250px;
        border: none;
        min-width: 100px;
        background-color: transparent;

        &:focus {
          box-shadow: none;
        }
      }

      &:hover {
        .iconTitle {
            color: $icon-color-hover;
        }
      }
    }

    .iconTitle {
      color: transparent;
    }


    &:hover {

      .iconTitle {
        color: $icon-color;
      }

      .icon {
        color: $icon-color;

        &:hover {
          color: $icon-color-hover;
        }
      }
    }

    .icon {
      height: $icon-size;
      cursor: pointer;
      color: transparent;
      display: none;
      margin-right: 10px;
    }

    .actions {
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }

    .count {
      display: flex;
      justify-content: flex-end;
      width: 120px;
      margin-right: 3px;
      >span {
        font-family: $font;
        font-size: $little-font;
        font-weight: $font-weight-medium;
        letter-spacing: $small-letter-spacing;
        border-radius: 2px;
        padding: 1px 5px;
      }
    }

  }

  .instructions {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    margin-top: 5px;
    padding-left: 4px;

    > * {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

}

.dirtyQuery {
}

.activeQuery {
  background-color: $active-background-color;

  .count {
    >span {
      background-color: $tag-active-background-color;
      color: $tag-active-text-color;
    }
  }
}

.inactiveQuery {
  background-color: $inactive-background-color;

  .count {
    >span {
      background-color: $tag-inactive-background-color;
      color: $tag-inactive-text-color;
    }
  }
}
