@import './variables.scss';

.statement {

  .header {
    margin-bottom: 20px;

    .navigation{
      width:100%;
      >div{
        display:flex;
        justify-content:space-between;

        & > span:nth-of-type(1){
          width:auto;
          span span{
            background:none;
            border:none;
          }

        }
        >div{
          display:flex;
          flex-wrap: wrap;
          align-items: center;
        }

      }

      .divider{
        background: rgba(18, 90, 144, 0.10);
        height:24px;
      }

      .dividerHorizontal{
        margin:12px 0 24px 0;
        background: rgba(18, 90, 144, 0.10);
        height:2px;
      }

      input{
        width:168px;
      }



      button{
        border:none;
        box-shadow:none;
        padding: 0 6px;

        color: rgba(35, 55, 80, 0.78);
        font-family: $font;
        font-size: $small-font;
        letter-spacing: $small-letter-spacing;
        display: flex;
        align-items: center;
        transition:none;
        i{
          padding-right:4px;
          color: rgba(35, 55, 80, 0.38);
        }

        .starFilled{
          color:#f8a335;
        }

        .openSelect{
            color:#1d8bc6;
        }


        &:after{
          animation: 0s !important;
        }

        &:hover{
          color:#1d8bc6;
          i:not(.star){
            color:#1d8bc6;
          }

        .star{
          color:#f8a335;
        }
        }
      }
    }

    .toolbar {
    }
  }

  .body {

      .queryContainer {
        display: flex;
        align-items: flex-start;
        border: 1px solid transparent;
        margin-bottom: 10px;
        border-radius: 2px;

        .querySelector {
          margin-top: 3px;
          padding-right: 10px;
        }

        padding-top: 2px;
        padding-left: 5px;
      }

      .dirtyContainer {
      }

      .activeContainer {
        border-left: 3px solid $tag-active-background-color;
        background-color: $active-background-color;
      }

      .inactiveContainer {
        background-color: $inactive-background-color;
      }

      .queryContents {
        margin-right: 5px;
      }

  }

  .footer {
    margin-top: 20px;
  }

}
