div.statement {
  display: flex;
  flex-direction: column;

  .draggable {
    cursor: grab;
  }

  .placeholder {
    opacity: 0.5;
  }

  .dragged {
    cursor: grabbing;
    width: 80%;
    margin-left: -10%;
    filter: invert(0.15);
    > * {
      transform: scale(0.66);
    }
  }

  .ant-divider-horizontal {
    margin: 15px 0 0 0;
  }
}

.selector {
  min-width: 30px;
}

div.action-container {
  display: flex;
  align-items: center;
  margin-left: 7px;

  .ant-badge-count {
    background-color: #0e5a8a;
  }

  .actions {
    &.left {
      margin-left: -16px;
      button {
        margin-left: 10px;
      }
    }

    &.right {
      margin-left: auto;
      button {
        margin-left: 10px;
      }
    }

  }
}

div.query-container {
  display: flex;
  margin-top: 14px;
  margin-right: 1em;

  .selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4px;
    background-color: #EEEEEE;
    border: 1px solid #BBBBBB;
    border-right-color: #DDDDDD;
    .index {
      font-size: 14px;
      font-weight: bold;
    }

  }

  .ant-badge {
    width: 100%;
  }

  &.selected {
    .query {
      background-color: #EEEEEE;
    }
  }

  .ant-badge-count {
    background-color: #BBBBBB;
  }

  .ant-input{
    border:none;
    margin-bottom: -4px;
  }

  &.active {
    .query {
      background-color: aliceblue;
        .ant-input{
          border:1px solid #d9d9d9;
          padding-left: 6px;
        }
    }
    .selector {
      background-color: aliceblue;
    }
    .selector {
      background-color: aliceblue;
    }
    .ant-badge-count {
      background-color: #0e5a8a;
    }
  }
}

.operator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #095797;
  color:white;
  min-width: 75px;
  height: 20px;
  text-transform: uppercase;
  .anticon-caret-down {
    cursor: pointer;
  }
}

.ant-tag.filter, .ant-tag.subquery {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  font-size: inherit;
  color: #000000;
  .legend {
    cursor: pointer;
    padding-right: 6px;
  }

  .anticon-caret-down {
    cursor: pointer;
    padding-left: 4px;
  }

  .anticon-close{
    color:black;
  }
}

div.query {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  min-height: 45px;
  justify-content: space-between;
  border: 1px solid #AAAAAA;
  border-left: none;

  &.dirty {
    border: 1px dashed #AAAAAA;
    border-left: none;
  }

  .title {
    margin-bottom: 5px;
  }

  .instructions {
    display: flex;
    align-items: center;
    max-width: 85%;
    width: 100%;
    flex-wrap: wrap;

    textarea.ant-input {
      background-color: palegreen;
      &.invalid {
        background-color: indianred;
      }
    }

    > * {
      margin-top: 2px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin-top: 8px;

    .anticon-more {
      cursor: pointer;
      font-size: 20px;
    }

    .ant-divider-vertical {
      height: 20px;
      margin: 0 5px 0 15px;
    }

  }

}
.filterCard{

    .ant-card-body{
        min-height:46em;
        display:flex;
        flex-direction:column;
    }

    .ant-checkbox-group{
        display:flex;
        flex-direction:column
    }

    .ant-checkbox-group-item{
      margin-top:5px;
    }

    .ant-tag{
        width:auto;
        padding:2px 5px;
        font-size:11px;
        width:55px;
        text-align:right;
        float: right

    }

    .ant-checkbox-group-item {
        margin-right: 0;
    }
}

.ant-checkbox-group-item
.consequence{
    color:#E88367;
}

.ant-tooltip{
    max-width:350px
}
