div.statement {
  display: flex;
  flex-direction: column;

  .draggable {
    cursor: grab;
  }

  .dragged {
    cursor: grabbing;
    width: 85%;
    .query {
      filter: invert(0.1);
    }
  }
}

.selector {
  min-width: 30px;
}

div.action-container {
  display: flex;
  align-items: center;

  .actions {
    &.left {
      margin-left: -10px;
    }

    &.right {
      margin-left: auto;
    }

    button {
      margin-left: 10px;
    }
  }

}

div.query-container {
  display: flex;

  > * {
    margin-top: 10px;
  }

  .selector {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 4px;
    background-color: #FAFAFA;
    .index {
      font-size: 14px;
      font-weight: bold;
    }
  }

  &.selected {
    .query {
      background-color: #FAFAFA;
    }
  }

  &.active {
    .query {
      background-color: aliceblue;
    }
  }

  // @TODO REMOVE after putting it next to title
  .ant-badge {
    width: 100%;
  }

}

.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  min-width: 75px;
  height: 21px;

  .anticon-caret-down {
    cursor: pointer;
    margin-left: 4px;
  }
}

.ant-tag.filter, .ant-tag.subquery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  font-size: inherit;

  .legend {
    cursor: pointer;
    padding-right: 6px;
  }

  .anticon-caret-down {
    cursor: pointer;
    padding-left: 4px;
  }
}

.ant-tag-has-color.subquery span {
   color: #000000;
}

div.query {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  border: 1px solid #CCCCCC;

  &.dirty {
    border: 1px dashed #CCCCCC
  }

  .title {
    margin-bottom: 5px;
  }

  .instructions {
    display: flex;
    align-items: center;
    max-width: 75%;
    flex-wrap: wrap;
    > * {
      margin-top: 2px;
      margin-right: 10px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    align-items: flex-start;

    .anticon-more {
      cursor: pointer;
      font-size: 20px;
    }

    .ant-divider-vertical {
      height: 20px;
      margin: 0 5px 0 10px;
    }

  }

}

