@import './variables.scss';

.tag{
    display:flex;
    align-items:center;
    padding: 0 6px;
    margin: 0 2px;
    border-radius: 2px;

    .insideTag{
        display:flex;
        align-items:center;
        font-family: $font;
        font-size: $little-font;
        font-weight: $font-weight-medium;
        letter-spacing: $small-letter-spacing;
        color:rgba(35, 55, 80, 0.78);

        &:hover{
            opacity:1;
        }
    }

    .operator{
        color: $color-disable;
    }

    &:hover{
        opacity:1;
    }

    .closingIcon{
        color: rgba(18, 90, 144, 0.38);

        &:hover{
            color:#125a90;
            cursor:pointer;
        }
    }

}


.selectedTag{
    .insideTag{
        color:#125a90;
         &:nth-child(3):hover {
            text-decoration: underline;
            cursor:pointer;
        }
    }

    .operator{
        color: rgba(18, 90, 144, 0.38);
    }
}

.icon{
     width:24px;
     height:24px;
     margin:0 16px;
     path{
         fill:$color-disable;
     }
     &:hover{
       path{
           fill:#1b7ab2;
       }
     }
 }

 .operatorMenu{
    width:168px;
    padding:8px 0;
    border-radius:$default-radius;
    li{
        display:flex;
        align-items:center;
        color:#233750;
        font-size: $small-font;
        font-family: $font;
        letter-spacing: $small-letter-spacing;
        padding:4px 12px;
        svg{
         margin:0 8px 0 0;
        }
     &:hover{
       path{
           fill:#1b7ab2;
       }
     }
    }



 }
