@import '~@ferlab/style/themes/default/theme.template';
@import 'colors';

$font-weight-semibold: 500;
$font-weight-bold: 500;

// Query Builder
$query-default-action-default-color: $gray-8;
$query-default-action-hover-color: $gray-8;
$query-default-action-focus-color: $gray-8;

$query-builder-bg: $white;
$query-builder-border-color: #d8e1eb;
$query-builder-padding: 24px 24px;

$query-bar-bg: #f8fafc;
$query-bar-bg-active: #d6f1fb;
$query-bar-border-color: #e1e8ef;
$query-bar-border-color-active: #8bd7f4;

$query-bar-identifier: #b3c2d3;
$query-bar-identifier-active: #23a4d7;

$query-pill-bg: #e1e8ef;
$query-pill-bg-active: #b0e4f8;
$query-pill-button-default-color: $gray-8;
$query-pill-button-hover-color: $gray-8;
$query-pill-button-focus-color: $gray-8;

$query-icon-operator-color: $gray-8;
$query-text-operator-color-hover: $gray-8;
$query-icon-operator-color-hover: $gray-8;
$query-icon-label-operator-color: $gray-8;

$query-combiner-button-default-color: $gray-8;
$query-combiner-button-hover-color: $gray-8;
$query-combiner-button-focus-color: $gray-8;

// SidebarMenu
$sidebar-menu-width: 180px;
$sidebar-menu-collapsed-width: 50px;
$sidebar-menu-background-color: #0a5085;
$sidebar-menu-toggle-icon-size: 21px;

$sidebar-menu-item-icon-size: 24px;
$sidebar-menu-item-height: 50px;
$sidebar-menu-item-text-color: #fff;
$sidebar-menu-item-active-background-color: $blue-8;
$sidebar-menu-item-active-color: #fff;
$sidebar-menu-item-hover-color: #fff;
$sidebar-menu-item-hover-opacity: 0.8;
$sidebar-menu-item-border-focus: none;
$sidebar-menu-item-border-focus-color: white;

$sidebar-quick-filter-input-box-shadow-hover: 0 0 0 2px #23a4d7;
$sidebar-quick-filter-input-box-shadow-focus: 0 0 0 2px #0a5085, 0 0 0 3px white;
$sidebar-quick-filter-input-placeholder-color: #8b9db2;
$sidebar-quick-filter-input-text-color: #364a63;

$sidebar-content-panel-padding: 16px;
$sidebar-content-panel-width: 320px;
$sidebar-content-panel-close-icon-color: $blue-8;
$sidebar-content-panel-right-border: 1px solid $gray-5;
$sidebar-content-panel-background-color: transparent;
$sidebar-content-panel-close-icon-width: 16px;

// Filters
$filter-input-label-color: $blue-10;
$filter-actions-border-color: $gray-4;
$filter-actions-disabled-color: $gray-6;
$filter-actions-disabled-border-color: $gray-5;
$filter-actions-disabled-background-color: $gray-3;
$filter-actions-border-apply-background-color: $blue-8;
$filter-actions-border-apply-border-color: $blue-8;

$checkbox-filter-types-mc-footer: $blue-8;
$checkbox-filter-links-hover: $blue-8;
$checkbox-filter-actions-separator-links: $blue-8;
$checkbox-filter-actions-separator-background: $gray-6;
