@import '~@ferlab/style/themes/default/theme.template';


// Query Builder

$query-default-action-hover-color: #057DB5;
$query-default-action-focus-color: #26436E;

$query-builder-bg: $white;
$query-builder-border-color: #D8E1EB;
$query-builder-padding: 24px 24px;

$query-bar-bg: #F8FAFC;
$query-bar-bg-active: #D6F1FB;
$query-bar-border-color: #E1E8EF;
$query-bar-border-color-active: #8BD7F4;

$query-bar-identifier: #B3C2D3;
$query-bar-identifier-active: #23A4D7; 

$query-pill-bg: #E1E8EF;
$query-pill-bg-active: #B0E4F8;

$query-icon-operator-color: #5A77A0;
$query-text-operator-color-hover: #63768F; 
$query-icon-operator-color-hover: #63768F; 
$query-icon-label-operator-color: #63768F;

// SidebarMenu
$sidebar-menu-width: 220px;
$sidebar-menu-collapsed-width: 50px;
$sidebar-menu-background-color: #0A5085;
$sidebar-menu-toggle-icon-size: 21px;

$sidebar-menu-item-icon-size: 24px;
$sidebar-menu-item-height: 50px;
$sidebar-menu-item-text-color: #fff;
$sidebar-menu-item-active-background-color: #006AA3;
$sidebar-menu-item-active-color: #fff;
$sidebar-menu-item-hover-color: #fff;
$sidebar-menu-item-hover-opacity: 0.8;
$sidebar-menu-item-border-focus: none;

$sidebar-quick-filter-input-box-shadow-hover: 0 0 0 2px #23A4D7;
$sidebar-quick-filter-input-box-shadow-focus: 0 0 0 2px #0A5085, 0 0 0 3px white;
$sidebar-quick-filter-input-placeholder-color: #8B9DB2;
$sidebar-quick-filter-input-text-color: #364A63;

$sidebar-content-panel-padding: 16px;
$sidebar-content-panel-width: 320px;
$sidebar-content-panel-close-icon-color: #006AA3;
$sidebar-content-panel-right-border: 1px solid #d7d8db;
$sidebar-content-panel-background-color: transparent;
$sidebar-content-panel-close-icon-width: 16px;