@import 'style/themes/clin/dist/_colors.scss';


.patient-creation {
  &__button {
    display: flex;
    align-items: center;
    font-size: 16px;
  }

  &__form {
    &__fieldset {
      margin-bottom: 3px;
    }

    &__select {
      width: 100%;
    }

    &__fetus-note {
      color: $gray-7;
      font-size: 12px;
      display: block;
    }
  }
}

.ant-form-item {
  margin-bottom: 13px;
}