@import '../../../../node_modules/antd/dist/antd.less' ;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

$blue-base: #00ACEB;
$blue-1: #EAF3FA;
$blue-2: #B5E6F7;
$blue-3: #86D5F2;
$blue-4: #5BC5ED;
$blue-5: #3EB8EA;
$blue-6: #2AABE8;
$blue-7: #249ED9;
$blue-8: #1D8BC6;
$blue-9: #1B7AB2;
$blue-10: #125A90;

$gray-1: #FFFFFF;
$gray-2: #F8FAFC;
$gray-3: #F1F5F9;
$gray-4: #E1E8EF;
$gray-5: #D2DBE4;
$gray-6: #A7B4C3;
$gray-7: #7E8DA0;
$gray-8: #536377;
$gray-9: #233750;
$gray-10: #0F1824;

$preset-colors: pink, magenta, red, volcano, orange, yellow, gold, cyan, lime, green, blue, geekblue,
  purple;

// Colors
$primary-color: $blue-8;
$info-color: $blue-6;
$success-color: $green-6;
$processing-color: $blue-6;
$error-color: $red-6;
$highlight-color: $magenta-6;
$normal-color: $gray-5;

// Text colors
$heading-color: $blue-10;
$text-color: $gray-8;
$text-color-secondary: $gray-7;
$text-selection-bg: $gray-3;

// Layout
//$layout-body-background: #f4f5f8;
//$layout-header-background: $purple-8;
//$layout-trigger-background: $purple-10;

// Disabled states
$disabled-color: $gray-6;
//$disabled-bg: $layout-body-background;
//$disabled-color-dark: $disabled-color;

// Backgrounds
$background-color-light: #EDF0F3;
//$background-color-base: $layout-body-background;

// Layout light theme
$layout-sider-background-light: #fff;
$layout-trigger-background-light: #fff;
$layout-trigger-color-light: $link-color;

// The background colors for active and hover states for things like
// list items or table cells.
$item-active-bg: $gray-3;
$item-hover-bg: $blue-1;

// Border color
$border-color-base: $blue-1;
//$border-color-split: $gray-4;

// Typography
$font-family: 'Roboto', sans-serif;
//$code-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;

// LINK
$link-color: $blue-8;
//$link-hover-color: color(~`colorPalette('#{$link-color}', 5) `);
///$link-active-color: color(~`colorPalette('#{$link-color}', 7) `);
//$link-hover-decoration: underline;

// Buttons
$btn-shadow: none;
$btn-primary-shadow: none;
$btn-text-shadow: none;
$btn-default-color: $primary-color;
$btn-default-border: fade($text-color-secondary, 40%);

.ant-btn-link {
  color: $btn-default-color;

  &:hover,
  &:focus {
    color: $primary-color;
    background: $blue-7;
  }
}

// Outline
$outline-width: 1px;
$outline-color: $heading-color;

// Shadows
$shadow-color: fade($text-color, 15%);
$shadow-1-up: 0 -6px 16px -8px fade($text-color, 8%), 0 -9px 28px 0 fade($text-color, 5%);
$shadow-1-down: 0 6px 16px -8px fade($text-color, 8%), 0 9px 28px 0 fade($text-color, 5%);
$shadow-1-left: -6px 0 16px -8px fade($text-color, 8%), -9px 0 28px 0 fade($text-color, 5%);
$shadow-1-right: 6px 0 16px -8px fade($text-color, 8%), 9px 0 28px 0 fade($text-color, 5%);
$shadow-2: 0 3px 6px -4px fade($text-color, 30%), 0 6px 16px 0 fade($text-color, 16%);

// Checkbox
$checkbox-color: $blue-8;

// Dropdown
$dropdown-selected-color: $blue-1;

// Page Header
//$page-header-back-color: $disabled-color;

// Radio
$radio-dot-color: $blue-8;
$radio-dot-disabled-color: $gray-6;

// Radio buttons
$radio-button-hover-color: $blue-7;
$radio-button-active-color: $heading-color;
$radio-disabled-button-checked-bg: $gray-6;
// focus & check style overrides
.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked {
  border-color: $radio-disabled-button-checked-bg;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within,
.ant-radio-group-solid
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
  box-shadow: none;
}

// Input
$input-placeholder-color: $gray-6;
$input-border-color: #ABBED3;
$input-hover-border-color: $blue-5;
$input-icon-hover-color: $gray-6;
// Input helper (magic numbers)
.ant-form-item-explain,
.ant-form-item-extra {
  font-size: $font-size-sm;
  margin-top: 2px;
}

// Select
$select-border-color: $input-border-color;
$select-item-selected-bg: $item-active-bg;

// Cascader
//$cascader-item-selected-bg: $item-active-bg;

// Steps
//$steps-nav-arrow-color: fade($text-color, 50%);

// progress
//$progress-steps-item-bg: $gray-4;

// Alert
$alert-message-color: $text-color;
$alert-close-color: $text-color-secondary;
$alert-close-hover-color: $text-color;

// Tooltip
$tooltip-bg: $gray-9;

// Modal
//$modal-mask-bg: fade(#050517, 60%);

// Menu
$menu-highlight-color: $blue-8;
$menu-item-active-bg: $blue-1;
$menu-dark-submenu-bg: #001529;
$menu-dark-item-active-bg: $blue-6;

// Table
$table-row-hover-bg: $blue-1;
$table-selected-row-bg: $gray-2;
$table-body-sort-bg: $gray-2;
$table-expanded-row-bg: $gray-2;

// Badge
$badge-dot-size: 8px;

// Rate
//$rate-star-color: #ffc53d;

// Card
$card-shadow: none;

// Descriptions
//$descriptions-bg: $background-color-light;

// Comment
//$comment-action-hover-color: $text-color;
//$comment-author-time-color: $disabled-color;

// Tabs
$tabs-card-active-color: $link-color;
$tabs-ink-bar-color: $link-color;
$tabs-highlight-color: $blue-8;
$tabs-hover-color: $link-hover-color;
$tabs-active-color: $link-active-color;

// avatar
//$avatar-bg: $disabled-color;

//pagination
$pagination-font-family: $font-family;

// breadcrumb
$breadcrumb-link-color-hover: $link-color;

// Tree
$tree-node-selected-bg: $item-active-bg;
$tree-directory-selected-color: $text-color;
$tree-directory-selected-bg: $tree-node-selected-bg;

// List
$list-header-background: $background-color-light;
$list-footer-background: $list-header-background;

// Motion
$wave-animation-width: 0px;