$blue-base: #00ACEB;
$blue-1: #EAF3FA;
$blue-2: #B5E6F7;
$blue-3: #86D5F2;
$blue-4: #5BC5ED;
$blue-5: #3EB8EA;
$blue-6: #2AABE8;
$blue-7: #249ED9;
$blue-8: #1D8BC6;
$blue-9: #1B7AB2;
$blue-10: #125A90;

$gray-1: #FFFFFF;
$gray-2: #F8FAFC;
$gray-3: #F3F5F7;
$gray-4: #E1E8EF;
$gray-5: #D2DBE4;
$gray-6: #A7B4C3;
$gray-7: #7E8DA0;
$gray-8: #536377;
$gray-9: #233750;
$gray-10: #0F1824;

$red-5: #FF4D4F;
$red-6: #F5222D;
$green-6: #52C41A;
$green-7: #389E0D;
$cyan-7: #08979C;

$border: #ABBED3;