@import "./variables.scss";
@import '../../../style/themes/colors.scss';
.variant-page-content {
  .page-static-content{
    min-width: 1392px;
    width: auto;
    max-width: 1600px;
    padding: 0 24px;
  }

  &__header{
    
    display: flex;
    height: 24px;
    margin-left: 24px;
    align-items: center;
    
    &__title{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.15px;
      color: #125A90;
    }

    &__tag{
      margin-left: 12px;
      margin-right: 0;
      &--variantType{
        text-transform: capitalize;
      }
    }
  }

  
  &__resume{
    &__generalInfo{
      margin-bottom: 24px;
      .ant-card-body{
        padding: 16px;
      }
      .nameBlock{
        width: 464px;
        background-color: $gray-2;
        color: $blue-10;
    
        &__info{
          margin-bottom: 8px;
          &__label{
            width: 104px;
            color: $blue-10;
          }
  
          &__info{
            font-weight: 500;
            width: 324px;
            word-break: break-all;
            color: $blue-10; 
          }
        }
        i{
          color: $gray-5;
          margin-bottom: 8px;
        }
    
        .ant-tag{
          margin: 0;
          margin-top: 8px;
        }
      }
    }

    &__content{
      flex: 1;
      margin-left: 40px;
      display: flex;
      align-items: center;
      .ant-row {
        width: 100%;
        >.ant-col{
          flex:1;
        }
      }
      .ant-divider{
        height: auto;
        margin: 0 48px;
      }
      .row{
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;
        &:last-child{
          margin-bottom: 0;
        }
        
        >.col{
          flex:1;
        }
        &__title{
          color: $gray-7;
          font-size: 12px;
          line-height: 20px;
          font-weight: 500;
        }
        &__info{
          height: 22px;
          .ant-btn{
            line-height: 22px;
            height: auto;
          }
        }
      }
  
    }


    &__table-title{
      font-weight: 400 !important;
      &:not(:first-of-type){
        margin-left: 16px;
      }
      
      
      &:last-child{
        line-height: 30px;
      }

      .link{
        font-weight: 500;
      }
      .value{
        margin-top: 2px;
      } 
    }

    &__consequence-table{
      th, td{
        &:nth-child(1){
          width: 104px;
        }
        &:nth-child(2){
          width: 256px;
        }
        &:nth-child(3){
          width: 136px;
        }
        &:nth-child(4){
          width: 72px;
        }
        &:nth-child(5){
          width: 128px;
        }
        &:nth-child(7){
          width: 224px;
        }
        &:nth-child(8){
          width: 200px;
        }
      }

      td{
        vertical-align: top !important;
      }
  
      &__tag{
        margin-right: 0;
      }
  
      &__predictionList{
        ul{
          margin-bottom: 0!important;
        }
        .close{
          display: none;
        }
      }
  
      &__transcriptValue{
        display: flex;
        align-items: center;
        height: 22px;
  
        .canonicalIcon{
          margin-left: 8px;
        }
      }

      &__consequence-term {
        color: $gray-7;
        line-height: 22px;
        font-size: 14px;
    
      }  
    }
    .staticCard{
      margin-bottom: 0 !important;
    }
    
  }

  &__associations{
    &__geneTable{
      th, td{
        &:nth-child(1){
          width: 128px;
        }
        &:nth-child(2){
          width: 208px;
        }
        &:nth-child(4){
          width: 104px;
        }
  
      }
  
      td{
        vertical-align: top !important;
      }
      &__geneLink{
        margin-left: 4px;
      }

      &__gene{
        margin: 0;
      }
    }

    .capitalText{
      text-transform: capitalize;
    }
  }

  &__patient{
   &__toolbar{
     margin-bottom: 8px;
     color: $gray-7;
   }

   .staticCard{
     width: 100%;
   }

   &__patientTable {
    width: 100%;
    .bp3-table-column-header-cell {
      background-color: $gray-3;
      border-bottom: none;
    }
    .bp3-table-column-headers {
      background-color: $gray-3;
    }
    .bp3-table-menu .bp3-table-selection-enabled {
      background-color: $gray-3;
    }

    .bp3-table-row-name {
      border-right: none;
      border-bottom: 1px solid $gray-4;
    }
    .bp3-table-cell-ledger-odd {
      background-color: #fff;
    }
    .bp3-table-menu {
      background-color:  $gray-3;
      border-right: none;
      border-bottom: none;
      
    }
    .bp3-table-column-name {
      border-right: none;
      color: $gray-8;
    }
    .bp3-table-cell {
      border-right: none;
      border-bottom: 1px solid $gray-4;
      .bp3-table-truncated-text{
        color: $gray-8;
      }
    }
    .bp3-table-row-headers .bp3-table-row-headers-cells-container .bp3-table-header .bp3-table-row-name {
      border-right: none;
    }
    .bp3-table-row-headers .bp3-table-row-headers-cells-container .bp3-table-header:nth-child(even) {
      background-color: #fff;
    }
  }
  }

  &__seeMore{
    font-size: 12px;
    height: 22px;
  }
  
  .close{
    display: none;
  }


  .variantLink{
    height: 21px;
    line-height: 21px;
  }
  .largeDivider{
    height: 8px;
    background-color: $layoutBG;
    margin: 8px 0;

    &:last-child{
      display: none;
    }
  }

  .ant-typography ul{ 
    margin: 0;
    li{
      list-style-type: none;
      a.ant-btn{
        line-height: 21px;
      }
      .ant-btn{
        height: fit-content;
      }
    }

  }
    
  ul{
    padding: 0;
    li{
      list-style-type: none;
    }
  }


}

.ant-table-thead > tr > th{
  background-color: $gray-3 !important;
  border : none;
}
