@import './variables.scss';
@import '/../../../../node_modules/@blueprintjs/core/src/blueprint.scss';
@import '/../../../../node_modules/@blueprintjs/table/src/table.scss';


.bp3-table-column-name{
    padding:5px 0;
}

.bp3-table-cell-ghost.bp3-table-cell-ledger-even {
    background: #FFFFFF;
}

.bp3-table-cell-ghost{
    border-right:1px solid $table-separator;
}

.bp3-table-column-header-cell{
    background-color: #e3ebf2 !important;
}

.ant-pagination-item-active{
    background-color:#E4F1F9;
}

.ant-pagination-item{
    border: 1px solid rgba(18, 90, 144, 0.3);
    border-radius: 2px;
}

.ant-pagination-item a , .ant-pagination-item-active a{
    color: $light-text;
}


.ant-popover-inner-content{
    padding:0;
}
