@import '../../containers/App/variables.scss';
@import '/../../../../node_modules/@blueprintjs/core/src/blueprint.scss';
@import '/../../../../node_modules/@blueprintjs/table/src/table.scss';




.ant-pagination-item-active{
    background-color:#E4F1F9;
}

.ant-pagination-item{
    border: 1px solid rgba(18, 90, 144, 0.3);
    border-radius: 2px;
}

.ant-pagination-item a , .ant-pagination-item-active a{
    color: $light-text;
}


.ant-popover-inner-content{
    padding:0;
}


.activeButton{
    background-color:$primary-light;
}