@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

$white: #ffffff;

$primary: #1D8BC6;
$primary-light:#E4F1F9;
$primary-dark:#364a63;
$light-blue:#e3ebf2;
$light-hover: #F7FBFD;
$icon-color:rgba(35, 55, 80, 0.38);
$light-text:rgba(35, 55, 80, 0.78);
$row-even-Color:#F6F9FB;
$table-separator:#CDDDE8;

$font: 'Roboto', sans-serif;
$small-font:14px;
$font-weight-medium:500;

$small-letter-spacing: 0.25px;

$border-radius: 2px;
$defaultSpacing: 8px;
$mediumSpacing: 12px;