@import './variables.scss';

.query {

  width: 100%;

  .toolbar {
    background-color: $active-background-color;
    display: flex;
    align-items: center;
    height:26px;

    .title {
    display:flex;
    align-items:center;
    width:auto;

      input {
        padding:0 4px;
        font-family: $font;
        font-size: $little-font;
        font-weight: $font-weight-medium;
        letter-spacing: $small-letter-spacing;
        background-color: transparent;
        border:1px solid transparent;
        border-radius:$default-radius;

        &:focus {
          box-shadow: none;
          border:2px solid $tag-active-background-color;
          border-right-width:2px !important;
          &:hover{
              border:2px solid $tag-active-background-color;
          }
        }
        &:hover{
            border:1px solid $color-disable;
        }
      }

    }
    .icon {
      display:flex !important;
      cursor: pointer;
      margin-right: 8px;
      color:$color-disable;
      opacity:0.7;

      &:hover{
        opacity:1;
        color:#1B7AB2;
      }
    }

    .focusIcon{
    color:#1d8bc6;
    }

    .actions {
      display: flex;
      margin-left: auto;
    }

    .count {
      display: flex;
      justify-content: flex-end;
      margin-right: 12px;
      >span {
        font-family: $font;
        font-size: $little-font;
        letter-spacing: $small-letter-spacing;
        border-radius: 2px;
        padding: 0 5px;
      }
    }

  }

  .instructions {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding-left: 4px;

    > * {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

}

.dirtyQuery {
}

.activeQuery {  .count {
    >span {
      background-color: $tag-active-background-color;
      color: $tag-active-text-color;
    }
  }
}

.inactiveQuery {
  .count {
    >span {
      background-color: $tag-inactive-background-color;
      color: $tag-inactive-text-color;
    }
  }
}

.emptyQuery{
color: rgb(229, 107, 26);
font-family:$font;
font-size: $little-font;
font-weight: 500;
letter-spacing:$small-letter-spacing;
margin: 8px 0;

}

.tooltip{
}


