@import './variables.scss';

.navigationFilter{
    margin-bottom:24px;
    background-color:#1b7ab2;
    border-radius:2px;

    >ul{
    }

    .autocomplete{
        transition:none;
        border:none;
        float:left;
        display:inline-block;
        padding:8px;



        >div{
           min-width:300px;
           border-radius:2px;
        }

        &:hover{
            border:none;
        }

        i{
            color:rgba(35, 55, 80, 0.38);
            margin-right:12px;
        }

        input{
            border:none;
            padding:0 0 0 0 !important;
            margin-left:52px;
            width:200px;
            color: #233750;
            font-size: 14px;
            font-family: $font;
            letter-spacing: 0.25px;
            line-height: 20px;
            border-radius: 2px;

            &::placeholder{
                color: rgba(35, 55, 80, 0.38);
            }

            &:focus{
                  box-shadow:none;
            }
        }

    }

    .menu{

        border:none;

        font-size: 16px;
        font-family: $font;
        font-weight: 500;
        letter-spacing: 0.15px;
        background-color:transparent;
        display:flex;
        justify-content:space-between;
        height:56px;

        li{
                margin:0;
                top:0;
                border:none;
                display:flex;
                align-items:center;


                div{
                    color: #FFFFFF;
                    padding:0 24px;
                    display: flex;
                    align-items: center;
                    &:hover{
                    color:#ffffff;
                    }
                    span{
                        display:flex;
                        align-items:center;
                        .iconRightArrowDropDown{
                            display: none !important;
                        }
                    }
                }
                &:hover{

                    border:none;
                    background-color:#125a90;
                }
        }

        i{
            color:rgba(255, 255, 255, 0.54);
            svg{
                margin-bottom:3px;
                margin-right:12px;
            }
        }
    }
}

.svgIcon{
    width:24px;
    height:24px;
    margin-bottom:3px;
    margin-right:12px;
    path{
        fill:rgba(255, 255, 255, 0.54);
    }
}


.dropwDownAutoComplete{
    line-height:0;
    min-width:380px;

    .label{
        strong{
                color: rgba(35, 55, 80, 0.38);
                font-family: $font;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-left:4px;
        }

    }
    .value{
        color: #233750;
        font-size: 12px;
        font-family: $font;
        letter-spacing: 0.4px;
        line-height:0;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:5px 16px;
        .iconCheck{
            padding-right:8px;
            color:rgba(35, 55, 80, 0.38);
            opacity:0;
        }

         &:hover{
            .valueCount{
                span{
                    background-color:#ffffff !important;
                }

            }
         }


        .valueCount{
            span{
              padding:3px 4px;
              color: rgba(35, 55, 80, 0.78);
              font-family: $font;
              font-size: 12px;
              letter-spacing: 0.4px;
              line-height:10px;
              text-align: center;
              margin:0 0 0 12px;;

            }
        }

    }

    .totalCount{
        color: rgba(35, 55, 80, 0.38);
        font-size: 12px;
        font-family:$font;
        letter-spacing: 0.4px;
        margin-left:4px;
    }


}

.highlight{
    background-color:#fddeb4;
}

.menuDropdown{
    min-width:300px;

    ul{
        background-color:transparent;
        border-radius: 0;
    }
    .openId{
        padding: 8px 16px 16px 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .iconInfo{
            color: rgba(35, 55, 80, 0.38);
            padding-left: 1px;
        }

        >button{
            border:none;
            margin-left:auto;

            padding: 0;
            margin-top: 8px;
            box-shadow: none;
            span{
                height: 16px;
                color: rgba(35, 55, 80, 0.78);
                font-size: 12px;
                font-family: $font;
                font-weight: normal;
                text-decoration: underline;
                letter-spacing: 0.4px;
                line-height: 16px;


            }
            &:after{
                animation: 0s !important;
              }
            &:hover{
                span{
                    text-decoration: none;
                }
                i{
                    color:rgba(35, 55, 80, 0.54);
                }
            }

            i{
                color:rgba(35, 55, 80, 0.38);
                padding-right: 4px;
            }

        }

        input{
            background: rgba(35, 55, 80,0.08);
            border: none;
            color: rgb(35, 55, 80);
            font-size: 16px;
            font-family: $font;
            letter-spacing: 0.15px;
            display: block;
            line-height: 24px;
            border-radius: 2px;

            &:focus{
                box-shadow: none;
            }

            &:hover{
                background: rgba(35, 55, 80, 0.08);
            }

            &:disabled{
                background: rgba(35, 55, 80, 0.14);
            }

        }    
        
        >span{
            height: 16px;
            color: rgba(35, 55, 80, 0.78);
            font-size: 12px;
            font-family: $font;
            letter-spacing: 0.4px;
            line-height: 16px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            margin-top: 8px;

            button{
                padding: 0;
                border: none;

                &:after{
                    animation: 0s !important;
                  }
            }
        }
    }

    .closeId{
        display:none;
    }

    .filterChoise{
        &:hover{
            background: rgba(29, 139, 198, 0.08);

            .subMenuVariant , .subMenuTitle{
                .iconRightArrowDropDown{
                    display: none;
                }
                color:#125a90;    
                &:hover{
                    border-top:1px solid transparent;
                    
                }
                .iconRightArrow{
                    color:#1b7ab2;
                }
    
            }
        }

        div:nth-child(2){
            display: none;
        }

        >div{
            margin: 0;
            height: 48px !important;
            i:not(.iconRightArrow){
                display:none;
            }
        }

        .subMenuVariant,.subMenuTitle{
            color: rgba(35, 55, 80, 0.78);
            font-size: 14px;
            font-family: $font;
            font-weight: 500;
            letter-spacing: 0.1px;
            line-height: 24px !important;
            padding:12px 16px;
            width: 100%;
            display:flex;
            justify-content: space-between;
            border-top: 1px solid rgba(35, 55, 80,0.12);

            .iconRightArrow{
                color:rgba(35, 55, 80, 0.38);
            }

        }
    }

    .filterChoise:hover + .filterChoise{
        .subMenuVariant, .subMenuTitle{
            border-top:1px solid transparent;

        }

    }

    .filterChoise:first-of-type{
        .subMenuTitle{
            border-top:1px solid transparent;
        }
    }

}


.menuDropdown{
    .ant-menu-submenu:not(.filterChoise){
        &:hover{
            background: rgba(29, 139, 198, 0.08);
            .ant-menu-submenu-title{
                >span{
                    color:#125a90;  
                    border-top:1px solid transparent;
                    padding: 2px 0;
                }
            }
        }

        &:hover + .ant-menu-submenu:not(.filterChoise){
            .ant-menu-submenu-title{
                >span{
                    border-top:1px solid transparent;
                    padding: 2px 0;
                }
            }
        }

        &:first-of-type{
            .ant-menu-submenu-title{
                >span{
                    border-top:1px solid transparent;
                    padding: 2px 0;
                }
            }
        }
        .ant-menu-submenu-title{
            margin:0;
            height: 48px;

            >span{
                color: rgba(35, 55, 80, 0.78);
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top: 1px solid rgba(35, 55, 80,0.12);
                padding: 2px 0;

                div{
                    display: flex;
                    align-items: center;
                    margin:0;
                }
                .value{
                    font-size: 14px;
                    font-family: $font;
                    font-weight: 500;
                    letter-spacing: 0.1px;
                }
                i{
                    margin-right: 12px;
                    display: flex !important;
                }
            }
            .ant-menu-submenu-arrow{
                display:none !important;
            }
        }
    }
    
}



.tooltip{
    >div{
        opacity: 1;
        div:first-child{
            display: none;
        }
        div:nth-child(2){
            background-color: #e7ebef;
            color: rgba(35, 55, 80, 0.78);
            font-size: 12px;
            font-family: $font;
            letter-spacing: 0.4px;
            line-height: 16px;
            border-radius: 2px;
            padding: 12px;
            width: 300px;
}
    }
}



