@import './variables.scss';

.navigation{
    margin-bottom:24px;
    background-color::#1b7ab2;
    border-radius:2px;

    >ul{
    }

    .autocomplete{
        transition:none;
        border:none;
        float:left;
        display:inline-block;
        padding:8px;



        >div{
           min-width:300px;
           border-radius:2px;
        }

        &:hover{
            border:none;
        }

        i{
            color:rgba(35, 55, 80, 0.38);
            margin-right:12px;;
        }

        input{

            border:none;
            padding:0 0 0 0 !important;
            margin-left:52px;
            width:200px;

            color: rgba(35, 55, 80, 0.38);
            font-size: 14px;
            font-family: $font;
            letter-spacing: 0.25px;
            line-height: 20px;

            &::placeholder{
            }

            &:focus{
                  box-shadow:none;
            }
        }



    }

    .menu{

        border:none;

        font-size: 16px;
        font-family: $font;
        font-weight: 500;
        letter-spacing: 0.15px;
        background-color:transparent;
        display:flex;
        justify-content:space-between;
        height:56px;

        li{
                margin:0;
                top:0;
                border:none;
                display:flex;
                align-items:center;


                div{
                    color: #FFFFFF;
                    padding:0 24px;
                    &:hover{
                    color:#ffffff;
                    }
                    span{
                        display:flex;
                        align-items:center;
                    }
                }
                &:hover{

                    border:none;
                    background-color:#125a90;
                }
        }

        i{
            color:rgba(255, 255, 255, 0.54);
            svg{
                margin-bottom:3px;
                margin-right:12px;
            }
        }
    }
}

.svgIcon{
    width:24px;
    height:24px;
    margin-bottom:3px;
    margin-right:12px;
    path{
        fill:rgba(255, 255, 255, 0.54);
    }
}


.dropwDownAutoComplete{
    line-height:0;
    min-width:360px;

    >div{
        >ul{
        }

    }
    .label{
        strong{
                color: rgba(35, 55, 80, 0.38);
                font-family: $font;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 2px;
                margin-left:4px;
        }

    }
    .value{
        color: #233750;
        font-size: 12px;
        font-family: $font;
        letter-spacing: 0.4px;
        line-height:0;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:5px 16px;
        .iconCheck{
            padding-right:8px;
            color:rgba(35, 55, 80, 0.38);
            opacity:0;
        }

         &:hover{
            .valueCount{
                span{
                    background-color:#ffffff !important;
                }

            }
         }


        .valueCount{
            span{
              padding:3px 4px;
              color: rgba(35, 55, 80, 0.78);
              font-family: $font;
              font-size: 12px;
              letter-spacing: 0.4px;
              line-height:10px;
              text-align: center;
              margin:0 0 0 12px;;

            }
        }

    }

    .totalCount{
        color: rgba(35, 55, 80, 0.38);
        font-size: 12px;
        font-family:$font;
        letter-spacing: 0.4px;
        margin-left:4px;
    }


}

.highlight{
    background-color:#fddeb4;
}

