.patientVariantLayout {
  display: flex;
  flex-direction: row;

  .patientVariantSidebar {
    ul {
      font-weight: 500 !important;
    }
  }

  .tableContainer {
    background-color: white;
    margin-top: 24px;
    border-radius: 2px;
    border: 1px solid #D8E1EB;
  }
  
  .tableContainer > * {
    margin: 24px;
  }

  .scrollContent {
    width: 100%;
    padding: 24px;
    width: 100%;
    min-height: 600px;

    .pageContainer {
      position: relative;
    }
  }
}
