@import '../../../containers/App/variables.scss';
@import 'style/themes/clin/dist/_colors.scss';

.entity{
  background-color:#EDF0F3;
}

.table__header__checkbox__wrapper {
  justify-content: center;
  height: 40px;
}

.variant-tab {
  height: 100%;

  &__details {
    height: 100%;

    &--empty{
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 610px;

      svg {
        color: $gray-5;
      }
      &__texts {

        &__title {
          margin-top:24px;
          color: $blue-10;
          font-size: 24px;
          line-height: 32px;
          font-weight: 500;
        }

        &__description {
          margin-bottom: 35px;
        }
      }
    }
  }
}

.occurenceDrawer {
  .description {
    span[class$="-item-label"] {
      width: 50%;
    }
  }

  .parentStatusTitle,
  .parentStatusIconWrapper {
    display: flex;
    align-items: center;

    .parentStatusIcon {
      margin-left: 4px;
    }
  }
}

$modal-padding: 40px;
$modal-body-padding: 24px;
$modal-header-height: 55px;

.igvModal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw !important;
  max-width: 100vw;
  height: 100vh;
  padding-bottom: 0;
  padding: $modal-padding;

  div[class$="-content"] {
    max-height: 100%;

    div[class$="-body"] {
      padding: $modal-body-padding;

      .igvContainer {
        max-height: calc(
          100vh - #{$modal-padding} * 2 - #{$modal-header-height} - #{$modal-body-padding} *
            2
        );
        overflow: auto;
      }
    }
  }
}

.igvModalWrapper {
  max-height: 100vh;
}
