@import './variables.scss';
.patientInfo{
    color:#233750;
    font-family: $font;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: 16px;
    margin-bottom:24px;
    .descriptionTitle{
        margin-bottom:12px;
        button{
            border:none;
            background:none;
            padding:0;
            box-shadow: none;
            color: #233750;
            transition:none;
            .spaceAfter{
                margin-right:4px;
            }

            span{

                        font-family: $font;
                        font-size: 20px;
                        font-weight: 500;
                        height: 30px;
                        letter-spacing: 0.25px;
                        line-height: 30px;
                        text-decoration: underline;

            }
            &:hover{
                color:#125a90;
                span{
                text-decoration: none;
                }
            }

        }
        .genderIcon{
                width:24px;
                height:24px;
                margin:0 8px;
                path{
                fill:rgba(35, 55, 80, 0.54);
                }

        }

        .tag{
            background:rgba(29, 139, 198,0.15);
            border:none;
            border-radius:2px;
            padding:1px 6px;
            color: #125a90;
            font-family:$font;
            font-size: 12px;
            letter-spacing: 0.4px;
            line-height: 16px;
            text-align: center;

            i{
                color:#125a90;
                margin:0;
            }

            &:hover{
            background:rgba(29, 139, 198,0.25);
            color: #125a90;
            cursor:pointer;
            opacity:1;
            }
        }

        .tagProban{
            &:hover{
            background:rgba(29, 139, 198,0.15);
            color: #125a90;
            cursor: default;
            }
        }
    }

    .descriptionPatient{
       >div{
           margin-right:16px;
           display:flex;
           align-items:center;
       }
       margin-bottom:12px;
    }

    .descriptionOntoloy{
        button{
            padding:0;
            border:none;
            background:none;
            transition:none;
            height:16px;
            margin-left:8px;
            color: #233750;
            span{

                        font-family: $font;
                        font-size: 12px;
                        font-weight: normal;
                        height: 16px;
                        letter-spacing: 0.4px;
                        line-height: 16px;
                        text-decoration: underline;
            }
            .iconLink{
            color:rgba(35, 55, 80, 0.54);
            margin-left:2px;
            }

            &:hover{
                color:#125a90;
                span{
                    text-decoration:none;
                }
                .iconLink{
                color:#125a90;
                }
            }


        }
    }

    i:not(.iconLink){
        color:rgba(35, 55, 80, 0.38);
        margin-right:4px;
        margin-top:-1px;
    }

}

.familyDropdown{
    >ul{
        border-radius:2px;
    }
    .menuGroup {
        >div{
         color: #233750;
         font-size: 14px;
         font-family: $font;
         letter-spacing: 0.25px;
         line-height: 20px;
         margin: 0 8px;
         padding:0;
         height:32px;
         display:flex;
         align-items:center;
        }

        ul{
         margin:0;
         li{
             color: #233750;
             font-size: 14px;
             font-family: $font;
             letter-spacing: 0.25px;
             line-height: 20px;
             padding:0 8px;
             height:32px;
             display:flex;
             align-items:center;
             a{
             color: #233750;
                &:hover{
                    text-decoration:none;
                    color: #233750;
                }
             }
         }
        }

    }

}


