@import '../../../style/themes/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

$font: 'Roboto', sans-serif;
$linkBlue: #1D8BC6;;
$extraInfoBlue: #125A90;
$backgroundGrey: #EDF0F3;
$textLightBlack: #536377;