@import 'style/themes/clin/dist/_colors.scss';

.patient-page {
  &__header {
    &__tags {
      margin-right: 0;
      height: 22px;
      display: flex;
      align-items: center;
      padding: 0 8px;
      >span {
        font-weight: 500;
        margin-right: 4px;
      }
      .ant-btn{
        display: flex;
        align-items: center;
        span{
          color: $gray-8 !important;
        }
      }
    }
    &__name {
      height: 24px;

      &__mother-name {
        font-size: 14px;
        button {
          font-weight: inherit;
        }
      }
    }
    &__id {
      font-weight: normal !important;
      color:$blue-9 !important;
    }
  }
}