@import '/../../../../../node_modules/@blueprintjs/core/src/blueprint.scss';
@import '/../../../../../node_modules/@blueprintjs/table/src/table.scss';

div.bp3-table-container {
  height: auto;
}

div.ant-select-selection__placeholder, div.ant-select-search__field__placeholder {
  padding-left: 20px;
}

div.ant-tag {
  line-height: initial;
  padding: 1px 0px;
  font-size: 9px;
  position: relative;
  top: -1px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

th.column-action, td.column-action {
  text-align: right !important;
}

#components-table-demo-resizable-column .react-resizable {
  position: relative;
}

#components-table-demo-resizable-column .react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
}
