@import '/../../../../../node_modules/@blueprintjs/core/src/blueprint.scss';
@import '/../../../../../node_modules/@blueprintjs/table/src/table.scss';

div.bp3-table-container {
  height: auto;
}

div.ant-select-selection__placeholder, div.ant-select-search__field__placeholder {
  padding-top: 1px;
  padding-left: 20px;
}

div.ant-tag {
  line-height: initial;
  padding: 1px 0px;
  font-size: 9px;
  position: relative;
  top: -1px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
