@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import '../../../containers/App/variables.scss';

div.bp3-table-container {
  height: auto;
}

div.ant-select-selection__placeholder, div.ant-select-search__field__placeholder {
  padding-top: 1px;
  padding-left: 20px;
}

div.ant-tag {
  line-height: initial;
  padding: 1px 0px;
  font-size: 9px;
  position: relative;
  top: -1px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.patientSearch{
    background-color:#f3f5f7;

    h3.ant-typography{
        color: rgb(35, 55, 80);
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 30px;
    }



    .searchNav{

        .filter{
            display:flex;
            justify-content:space-between;
            color:$blue-800;
            text-transform: uppercase;
            letter-spacing: 1.25px;
            line-height: 16px;
            font-size: 14px;
            font-weight: 500;

            >i{
                margin:0;
            }
        }

        .filter:disabled{
            color:#AAAAAA;
            background:#ffffff;
        }

        .ant-btn{
            height: 40px;

            svg{
              height: 20px;
              width: 20px;
            }
        }
        .autoSearch{
            flex: 2 2 20em;
            padding-right:24px;

            .ant-input{
                border-radius:2px;
                border:1px solid white;
                width:100%;

                font-size: 14px;
                font-family: Roboto;
                font-weight: normal;
                letter-spacing: 0.25px;
                line-height: 20px;
            }

            .ant-input:focus{
                box-shadow: none;
                border: 2px solid rgb(29, 139, 198);
                border-right-width: 2px !important
            }

            .ant-input:hover{
                border-color:#CFE6F2;
            }

            .ant-select-selection__placeholder{
                color: $light-text;
            }
            i{
                padding-right:8px;
                display:inline-block;
            }

            svg{
              color:$primary-text-disabled;
              height: 16px;
              width: 16px;
            }
        }
    }

    .category{
        width:280px;
        margin-top:24px;
        padding:8px 16px;


        .ant-card-body{
            padding:0;


            .ant-checkbox{
               padding-left:4px;
            }

            .ant-checkbox-group{
            border-top: 1px solid $disabledColor;
            padding-top:16px;
            width:100%;
            margin-top:16px;
            }
        }

        .ant-card-head{
            padding:0;
            border:none;
            min-height:0;

            .ant-card-head-title{
                padding:0;
            }

            a{
                color:#233750;
                display:flex;
                justify-content:space-between;
            }

            a:hover{
                text-decoration:none;
            }

            svg{
              color:#1d8bc6;
            }
        }
    }

    .table{
        width:100%;
        .tablePatient{
          margin-top:24px;

          .reorder{
            background-color:$primary-light;
          }
          .controls{
            margin-bottom:24px;
          }

        }
    }

    .table-facet{
        width:calc(100% - 280px - 24px)
    }
}


