@import './variables.scss';
.patientPage{
  .patientHeader{
    background-color: #fff;
    padding: 24px;

    .patientName{
      font-family: $font;
      font-weight: 500;
      font-size: 24px;
      color: #125A90;
    }
   }

   .tabs{
    padding: 0;
    }

    .ant-tabs.ant-tabs-top.tabs.ant-tabs-line{
        background: #EDF0F3;
    }   
    .ant-tabs-bar{
        margin: 0 0 24px 0
    }
    .ant-tabs-nav-scroll{
        background-color: #fff;
        padding: 0 24px;
    }
    .ant-tabs-tab-active{
        .tabName{
            font-weight: 500;
            color: #1D8BC6;
        }
    }

    .ant-tabs-ink-bar{
        background-color:#1D8BC6;
    }

    .ant-tabs-nav .ant-tabs-tab{
        padding: 12px 0;
    }
    .tabName{
        font-family: $font;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #536377;

        i{
            padding-right: 8px;
            margin-bottom: 1px;
        }
    }

    .ant-tabs-tabpane{
        padding: 0 24px 24px 24px;
    }

    .personalInfo{
      justify-content: space-between;
      .ant-col{
        width: calc((100% - 48px) / 3);
      }
    }

    .datalist{
      border: none;
      border-radius: 2px;
      height: fit-content;
      margin-bottom: 24px;

      .link{
        padding: 0;
        height: 22px;
        line-height: 22px;
        span{
            font-family: $font;
            font-size: 14px;
            color: #1D8BC6;
        }
      }

      .familyLink{
        font-family: $font;
        font-size: 14px;
        color: #1D8BC6;
      }

      .extraInfo{
        color: #125A90;
        font-family: $font;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px
      }
      &:hover{
          box-shadow:none;
          cursor: default;
      }
      .ant-card-head{
          background: #F8FAFC;
          padding: 12px 16px;
          margin-bottom:0;
          border-bottom: 2px solid #EDF0F3;

          .link{
              font-weight: 500;
          }

          .ant-card-head-title{
              padding: 0;
          }
          .datalisteHeader{
              font-family: $font;
              font-weight: 500;
              font-size: 20px;
              margin-bottom: 0;
              color: #125A90;
              line-height: 28px;
          }
      }
      .ant-card-body{
          padding: 0;

          .listRow{
              padding: 8px 16px;
              border-color: #EDF0F3;
              span{
                  font-family: $font;
                  font-size: 14px;
                  line-height: 22px;
                  color: #536377;
                  text-transform: capitalize;
              }
              .rowTitle{
                  max-width: 48%;
      
              }
      
              .rowValue{
                  display: flex;
                  justify-content: right;
                  margin: 0;
                  .link{
                      padding: 0;
                      height: 22px;
                      line-height: 22px;
                      span{
                          font-family: $font;
                          font-size: 14px;
                          color: #1D8BC6;
                      }
                  }
                  >span{
                     text-align: right; 
                     width: 100%;

                     .ant-tag{
                         margin-right: 0;
                         border-radius: 2px;
                         padding: 1px 8px;
                     }

                     .probandTag{
                         background-color: #FFF1F0;
                         color: #F5222D;
                         border: 1px solid #FFCCC7
                     }
                     .familyTypeTag{
                        background: #E6FFFB;
                        border: 1px solid #87E8DE;
                        color: #08979C;
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        margin-left: auto;
                        svg{
                            margin-right: 4px;
                        }
                     }
                     ul{
                         margin: 0;
                         li{
                          margin: 0;
                          padding: 0;
                          list-style-type: none;
                         }
                     }
                  }

              }
          }

      }

      .ant-list-empty-text{
          padding: 24px 0;
          .ant-empty-image{
              display: none;
          }
          .ant-empty.ant-empty-normal{
              margin: 0;
          }
      }

  }
  .tableHeader{
    font-family: $font;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #125A90;
    background: #F8FAFC;
    padding: 12px 16px;
    border-bottom: 2px solid #EDF0F3;
    border-radius:2px 2px 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .newRequestButton{
        background: #1D8BC6;
        color: #FFFFFF;
        border-radius: 2px;
        border: none;
        font-family: $font;
        font-size: 14px;
        line-height: 22px;
        i{
            svg{
                margin-top: -4px;
            }
            
        }
    }
}

.ant-table-wrapper{
    width: 100%;
}
.ant-table-body{
  table{
      border-radius: 0;
  }
  .ant-table-thead > tr:first-child > th:first-child ,
  .ant-table-thead > tr:first-child > th:last-child{
      border-radius: 0;
  }
  th{
      background: #F8FAFC ;
      border-color: #EDF0F3;
      .ant-table-column-title{
          font-family: $font;
          font-weight: 500;
          font-size: 14px;
          color: #233750;
      }
  }
  .ant-table-expanded-row{
    >td{
        padding: 0;
        .ant-table-column-title{
            font-size: 12px;
        }
    }
  }
  .ant-table-row-expand-icon{
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &::after{
        color: #536377;
      }
      
  }
  tr{
      &:not(.ant-table-expanded-row):not(.ant-table-row-selected){
          td{
              background: #fff;
          }
      }
      &:last-child{
          td{
              border: none;
              &:first-of-type{
                  border-radius: 0 0 0 2px;
              }
              &:last-of-type{
                  border-radius: 0 0 2px 0;
              }
          }
      }

      td{
          background: #fff;
          font-family: $font;
          font-size: 14px;
          color: #536377;
          line-height: 22px;
          border: none;
          .iconPos{
              color:#52C41A;
          }
          .iconNeg{
            color:#F5222D;
        }

        .link{
            padding: 0;
            height: 22px;
            line-height: 22px;
            span{
                font-family: $font;
                font-size: 14px;
                color: #1D8BC6;
            }
          }
          .capitalize{
              text-transform: capitalize;
          }
          ul{
              padding: 0;
              margin: 0;
              li{
                  list-style-type: none;
                  display: flex;
                  align-items: center;
                  line-height: 0;
              }
          }

      }
  }

}
.ant-table-placeholder{
  border-bottom:none;
  .ant-empty-image{
      display: none;
  }
}

.expandedTable{
    margin: 0 !important;

}

.clinicalSigns{
    margin-bottom: 24px;
}
}




