@import './variables.scss';
@import '../../../style/themes/colors.scss';

.prescription{
  margin-bottom: 24px;
  //logo
  .logoText{
    display: flex;
    align-items: center;
    width: fit-content;
    i{
      height: 16px;
      margin-top: 2px;
      svg{
        vertical-align: top !important;
      }
    }
    .logoText__button{
      display: flex;
      align-items: center;
      padding-bottom: 3px;
    }
  }

  .dropdown-icon{
    margin-left: 4px !important;
  }
}

.dropDownButton{
  color: $gray-8;
    
}


.practitionerInfo{
  width: 350px;
  .ant-popover-inner-content{
    padding: 0;
  }
  .ant-card-head{
    padding: 8px 16px;
    height: auto;
    min-height: auto;
    .ant-card-head-title{
      font-size: 14px;
      padding: 0;
    }
  }
  .ant-card-body{
    padding: 12px 16px;
    p{
      margin: 0;
    }
    .popOverName{
      font-weight: 500;
    }
    a{
      color: $blue-8;
    }
  }
}

.patientPage {
  padding-bottom: 24px;
}

.clinical{
    
  &__info{
    flex-wrap: nowrap;
    &:not(:last-of-type){
      margin-bottom: 12px;
    }
    &__title{
      color: $gray-7;
      min-width: 200px;
      margin-right: 16px;
    }
    &__value{
      button{
        height: 22px;
        i{
          height: 16px;
                    
          svg{
            vertical-align: sub !important;
          }
        }
      }
      &--abnormal{
        color: $red-6;
      }
      &--normal{
        color: $green-7;
      }
    
    }
  }
  .ant-card-body{
    width: 100% !important;
  }


  .ant-table-body{
    margin: 0 !important;
        
  }

  .familyHistory{
    width: 100%;
    th{
      &:first-child{
        width: 200px !important;
      }
    }
  }
}


.ant-tabs-nav-scroll{
  background-color: #fff;
}

//temporaire
.ant-table-small .ant-table-thead > tr > th{
  background-color: $gray-2;
}