$navigation-tab-active: #FFFFFF;

main.patient-navigation {
  background-color: $navigation-tab-active;
}

main.patient-navigation.ant-layout-content {
  padding: 10px 10px 12px 10px;
  min-height: 51px;
}

.entity{
    background-color:#f3f5f7;
}

