.variantFilterWrapper {
  min-height: 100px;
  .variantFilterContainer {
    margin-top: 8px;
    &:last-child {
      padding-bottom: 16px;
    }
    :global(.ant-collapse) {
      border: none;
    }
  }
}

.expandButtonContainerVariant {
  display: grid;
  justify-content: end;

  span:not(:hover) {
    text-decoration: underline;
  }
}
