@import './variables.scss';

.generalInfo{
  margin-bottom: 24px;
  .ant-card-body{
    padding: 16px 32px;
  }
  .nameBlock{
    width: 240px;
    text-align: center;
    background-color: $gray-2;

    &__info{
      flex-direction: column;
    }
    i{
      color: $gray-5;
      margin-bottom: 8px;
    }

    .ant-tag{
      margin: 0;
      margin-top: 8px;
    }
  }

  .content{
    flex: 1;
    margin-left: 40px;
    display: flex;
    align-items: center;
    .ant-divider{
      height: auto;
      margin: 0 48px;
    }

    .grid{
      flex:2;
      display: grid;
      grid-template-columns: 200px 200px;
      grid-template-rows: 44px auto;
      gap: 16px 40px;
      grid-template-areas:
      ". ."
      ". .";
    }
    .row{
      display: flex;
      flex-direction: column;
      .title{
        color: $gray-7;
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
      }

      .view{
        color: $blue-8;
        font-size: 12px;
        line-height: 20px;
        text-decoration-line: underline;
      }

      .mrn{
        margin-bottom: 8px;
      }

      .info{
        .ant-btn{
          height: auto;
        }
      }
    }

  }
}

.prescriptions-tab {
  .ant-card {
    margin-bottom: 24px;
  }

  &__patient-section {
    display: flex;
    padding: 16px;

    &__card {
      position: relative;
    }

    &__name-block {
      width: 240px;
      text-align: center;
      background-color: $gray-2;
      padding: 16px 0;
      border: 1px solid $gray-5;
      margin-top: auto;
      margin-bottom: auto;
    }

    &__col {
      flex: 1;
      display: flex;
      .ant-divider {
        height: 100%;
        margin-left: auto;
      }

      &__details {
        --details-col-justify: center;
        display: flex;
        flex-direction: column;
        justify-content: var(--details-col-justify);
        margin-left: 24px;
        gap: 16px;
  
        &__row {
          display: flex;
          flex-direction: column;
          
          &__title {
            color: $gray-7;
            font-weight: 500;
          }
    
          &__info {
            &__multiple-mrn {
              ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                  margin-bottom: 8px;
                }
              }
              button {
                span {
                  text-decoration: underline;
                }
              }
            }
          }
        }
  
      }
    }

    &__edit-button {
      position: absolute;
      top: 17px;
      right: 20px;
      border: none;
    }

  }

  &__prescriptions-section {
    &__more-info {
      .anticon {
        color: $blue-8;
        margin-left: 5px;
      }
    }
    .ant-card-extra {
      padding: 0;
    }

    .ant-tabs {
      &-nav {
        margin: 0;
        &::before {
          border-bottom-color: transparent;
        }
        &-list {
          margin: 0!important;
        }
        &-wrap {
          background-color: transparent;
        }
      }
      &-tab {
        border-bottom-color: transparent!important;
        padding: 9px 16px!important;
      }
      &-tab-active {
        border-color: #ffffff!important;
      }

      &-content-holder {
        background-color: #ffffff;
        padding: 16px;
      }
    }

    &__tab-label {
      display: grid;
      gap: 10px;
      align-items: center;
      grid-template-columns: auto auto;
    }

    &__empty {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      padding: 80px 0;

      &__icon {
        margin-bottom: 20px;
      }

      &__button {
        margin-top: 24px;
      }
    }

    &__details {
      &__status-tag {
        --tag-color: #000;
        color: #ffffff;
        background-color: var(--tag-color);
        line-height: 22px;
        padding: 1px 0;
        width: 100px;
        text-align: center;
        display: inline-block;
        border-radius: 2px;
      }
      &__status-label {
        svg {
          margin-left: 5px;
        }
      }
      &__status-value { 
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__row {
          &__note {
            display: inline-block;
            padding: 8px;
            border-radius: 2px;
  
            &.incomplete {
              color: $magenta-6;
              background-color: $magenta-1;
            }
  
            &.revoked {
              color: $red-6;
              background-color: $red-0;
            }
          }
        }
      }

      &__row {
        flex-wrap: nowrap;
        &:not(:last-of-type){
          margin-bottom: 12px;
        }
        &__title{
          color: $gray-7;
          width: 200px;
          margin-right: 16px;
        }
        &__value{
          max-width: 800px;
          button{
            height: 22px;
            i{
              height: 16px;
                        
              svg{
                vertical-align: sub !important;
              }
            }
          }
          &--abnormal{
            color: $red-6;
          }
          &--normal{
            color: $green-7;
          }
        
        }
      }}

    &__summary {
      &__cgh__content {
        &__code { 
          &--abnormal{
            color: $red-6;
          }
          &--normal{
            color: $green-7;
          } 
        }
      }
    }

    &__family-history{
      &__conditions{
        margin-top: 24px;
        h4 {
          margin-bottom: 12px;
        }

        .ant-table-cell {
          padding: 8px;
        }
      }
    }

    &__clinical-sign {
      &__observed {
        &--positive {
          color: $green-6;
        }

        &--negative {
          color: $red-5;
        }

        &--unknown {
          color: $gray-8;
        }
      }
    }
  }
}