@collapse-header-padding: 5px;
@collapse-header-bg: @gray-1;

.@{collapse-prefix-cls} {
  &-content {
    border-top: 1px solid @gray-4;
  }

  & > &-item {
    border: none !important;

    > .@{collapse-prefix-cls}-header {
      display: flex;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      padding-left: 16px;

      > :nth-child(2) {
        flex-grow: 1;
      }

      .@{collapse-prefix-cls}-arrow {
        color: @gray-7;
      }
    }
  }
}
