@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');



.btn{
    border:none;
    border-radius:$border-radius;
    outline:none;
    display:flex;
    align-items:center;
    justify-content:center;
    box-shadow:none;
    i{
        margin-right: 8px;
    }
}

.btnBlue{
    background-color:$blue-800;
    color:$light;
    span{
      text-transform: uppercase;
      letter-spacing: 1.25px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
    }
}
.btnBlue:hover{
    background-color:#2B84B8;
    color:$light;
}
.btnBlue:disabled,.btnBlue:disabled:hover {
    background-color:#E5E7EA;
    color: rgba(35, 55, 80, 0.38);
}
.btnBlue:focus{
    background-color:#5199C4;
    color:$light;
}


.btnWhite{
    background-color:$light;
    color:$primary-blue;
    span{
      text-transform: uppercase;
      letter-spacing: 1.25px;
      line-height: 16px;
      font-size: 14px;
      font-weight: 500;
    }
}
.btnWhite:hover{
    background-color:#F7FBFD;
    color:$primary-blue;
}

.btnWhite:disabled,.btnWhite:disabled:hover {
    background-color:#E5E7EA;
}

.btnWhite:focus{
    background-color:#E4F1F9;
}




.btnSec{
    background-color:$light;
    color:#233750;
    padding:4px;
    margin-left:12px;
    span{
        font-size: 14px;
        font-family: Roboto;
        font-weight: normal;
        letter-spacing: 0.25px;
        line-height: 20px;
    }
    i{
        color:rgba(35, 55, 80, 0.38);
        margin-right:8px;
        svg{
          height: 24px;
          width: 24px;
        }

    }
}
.btnSec:hover{
    background-color:#F7FBFD;
    color:#233750;
}
.btnSec:disabled,.btnSec:disabled:hover {
    background-color:$dark;
    color: rgba(35, 55, 80, 0.38);
}
.btnSec:focus{
    background-color:#E4F1F9;
    color:#233750;
}



.input{
    border:none;

    input{
        padding:12px 16px;
        font-family: $font;
        font-size: $medium-font;
        letter-spacing: 0.15px;
        line-height: 24px;
        height: 24px;

        outline:none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        border:1px solid #abb3bc;
        border-radius:$border-radius;

    }

    input:focus{
       border-radius:$border-radius;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       border: 2px solid #1d8bc6;
       border-right-width: 2px !important;
    }
    input:active{
       border-radius:$border-radius;
       -webkit-box-shadow: none;
       -moz-box-shadow: none;
       box-shadow: none;
       border: 1px solid #1d8bc6;

    }
}

.input:hover{
     border: 1px solid rgba(28, 132, 189, 0.2);
     border-radius:$border-radius;

    input{
           border-radius:$border-radius;
           border:none;
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
           box-shadow: none;
    }
}

.input:focus:hover{
     border: 2px solid rgba(28, 132, 189, 0.2);
     border-radius:$border-radius;

    input{
           border-radius:$border-radius;
           border:none;
           -webkit-box-shadow: none;
           -moz-box-shadow: none;
           box-shadow: none;
    }
}



