$use-all: true;
@import '/../../../../node_modules/animate-sass/animate';

#root {
  display: block;
  width: 100vw;
  height: 100vh;
}

#root:after {
  // background-image: url(/images/wallpaper.jpg);
  // background-size: cover;
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:inherit;
  height:inherit;
  opacity:0.5;
}

#spinner {
  z-index: 9999;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}

#layout {
  height: 100vh;
  z-index: 1;
}

header#header {
  padding: 0 15px;
  h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography {
    line-height: unset;
  }
}

#navigation {
  background-color: #B0C4DE;
  padding: 10px 10px 15px 10px;
}

footer#footer {
  padding: 10px 15px;
}

#container {
  z-index: 2;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
  }
}

#centered-screen {
   justify-content: center;
   align-items: center;
 }

#stretched-screen {
  div.ant-card {
    height: 100%;
  }
}

#stretched-centered-screen {
  div.ant-card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.clippy, .clippy-balloon {
  z-index: 10000;
  position: absolute;
}

.clippy-content {
  position: relative;
  background: #FFFFFF;
  border-radius: .4em;
  padding: 4px 8px;
}

.clippy-content:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #FFFFFF;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
