$use-all: true;
@import '/../../../../node_modules/animate-sass/animate';

$header-color: #364B93;
$navigation-color: #c6d6ef;
$footer-color: #f5f5f5;

#root {
  display: block;
  width: 100vw;
  height: 100vh;
}

#root:after {
  // background-image: url(/images/wallpaper.jpg);
  // background-size: cover;
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:inherit;
  height:inherit;
  opacity:0.5;
}

#spinner {
  z-index: 9999;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}

#layout {
  height: 100vh;
  z-index: 1;
}

header#header {
  padding: 0 15px;
  background-color: $header-color;
  h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography {
    line-height: unset;
    color: #ffffff;
  }
}

#navigation {
  background-color: $navigation-color;
  padding: 12px 10px 15px 10px;
  ul.ant-menu {
    background-color: $navigation-color;
    top: unset;
    line-height: unset;
    border-bottom: 2px solid $navigation-color;
    li.ant-menu-item {
      color: $header-color;
      padding: 5px 12px 2px 5px;
    }
  }
}

footer#footer {
  padding: 10px 15px;
  background-color: $footer-color;
}

#container {
  z-index: 2;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
  }
}

#centered-screen {
   justify-content: center;
   align-items: center;
 }

#stretched-screen {
  div.ant-card {
    height: 100%;
  }
}

#stretched-centered-screen {
  div.ant-card {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}


div.datalist {
  height: auto;
  div.ant-card-body {
    padding: 4px 10px 2px 11px;
  }
}


div.ant-page-header {
  padding: 0px;
  span.ant-page-header-title-view-extra {
    top: 5px;
    right: 0px;
    bottom: 10px;
  }
}

.clippy, .clippy-balloon {
  z-index: 10000;
  position: absolute;
}

.clippy-content {
  position: relative;
  background: #FFFFFF;
  border-radius: .4em;
  padding: 4px 8px;
}

.clippy-content:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #FFFFFF;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
