$use-all: true;
@import '~animate-sass/animate';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import './variables.scss';
@import 'style/themes/clin/dist/_colors.scss';


body{
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji' !important;
}

#root {
  display: block;
  height: 100%;
}

#main-spinner {
  height: 100%;

  .ant-spin-container {
    height: 100%;
  }
}

#spinner {
  z-index: 9999;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: none;
}

#layout {
  z-index: 1;
}

header#header {
  height: 56px;
  background: $primary-blue;
  border-radius: 0px;
  padding:12px 24px;
  line-height: 0;

  h1.ant-typography, h2.ant-typography, h3.ant-typography, h4.ant-typography {
    line-height: unset;
    color: $header-font-color;
  }

  img.logo {
    height: 32px;
  };

  .secondaryNav{
    display:flex;
    align-items: center;
    margin-left: auto;
    .userName{
      padding-right:24px
    }
    a, button{
      display: inline-flex;
      align-items: center;
      color: $text-onprimary-medium;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      font-family: $font;
      font-weight: 500;
      font-size: 12px;
      padding: 0;

      &:not(#logout-button) {
        svg{
          fill: $text-onprimary-medium;
          margin-right: 8px;
          width: 20px;
          height: 20px;
        }
      }
    };

    .ant-dropdown-menu-item {
      button {
        color: $navigation-color;
      }
    }

    .ant-divider{
      height: 32px;
      background-color:rgba(255, 255, 255, 0.54);
      margin:0 24px;

    }
    a:hover{
      color:#ffffff;
      text-decoration:none;
    }
  }
}

nav#navigation {

  div.ant-card {
    flex: 1;
    border-bottom: none;
  }

  div.ant-row-flex {
    padding: 12px 10px;
    height: 42px;
  }


}


div.datalist {
  height: auto;
  div.ant-card-body {
    padding: 4px 10px 2px 11px;
  }
}

div.ant-page-header {
  span.ant-page-header-title-view-extra {
    top: 5px;
    right: 0px;
    bottom: 10px;
  }
}

div.ant-spin-nested-loading, div.ant-spin-container, div.ant-col-24, div#spinner, section#layout, div#content {
  min-height: 100%;
}

div.ant-card {
  flex: 1;
}


.clippy, .clippy-balloon {
  z-index: 10000;
  position: absolute;
}

.clippy-content {
  position: relative;
  background: #FFFFFF;
  border-radius: .4em;
  padding: 4px 8px;
}

.clippy-content:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #FFFFFF;
  border-bottom: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}

//Page Static

// Page Header Static

.page_headerStaticMargin{
  background-color: #FFFFFF !important;
  padding: 18px 0;
  font-size: 14px;
  margin-bottom: 24px;
  .header__content--static{
    width: $maxWidth;
    margin: 0 24px;

    &__primary {
      color: $blue-10;
    }
  }
}

.page_headerStaticNoMargin{
  background-color: #FFFFFF !important;
  padding: 16px 0;
  font-size: 14px;
  .header__content--static{
    width: $maxWidth;
    margin: 0 24px;
  }
}

//Page Static Content
.page-static-content{
  margin: 0 auto;
  width: $maxWidth;
}

//Card
.staticCard{
  margin-bottom: 24px !important;
}

//tabs
.staticTabs{
  &:focus{
    outline: none;
  }
  .tabName, .ant-tabs-tab-btn{
    &:focus{
      outline: none;
    }
  }

  .ant-tabs-content, .ant-tabs-tabpane{
    &:focus{
      outline: none;
    }
  }

  >.ant-tabs-nav {
  .ant-tabs-nav-wrap{
    background-color: #ffffff;
    .ant-tabs-nav-list{
      max-width: $maxWidth;
      margin:0 24px;
      .ant-tabs-tab{
        padding: 12px 0;
        transition: none !important;
        &:hover{
          .tabName, i, .anticon > svg{
            color: $blue-8;
            fill: $blue-8;
          }
        }
        .tabName{
          display: flex;
          align-items: center;

        }
        i{
          padding-right: 8px;
          margin-top:-2px;
          color: $gray-6;
        }
        .anticon > svg {
          fill: $gray-6;
        }
      }
      .ant-tabs-tab-active{
        .anticon > svg{
          fill: $blue-8;
        }
      }
      .ant-tabs-tab-disabled{
        &:hover{
          i, .anticon > svg{
            color: $gray-6 !important;
          }
        }
      }
    }
  }
}
}

//Inside
.separator{
  display: flex;
  .cardSeparator{
    border: 1px solid #D2DBE4;
    padding:16px;
  }

}


//DATA ENTRY
//Input
.input{
  border-radius: 2px;
  border: 1px solid #ABBED3;
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #536377;
  &::placeholder{
    color: #ABB3BC;;
  }

  &:hover{
    border: 1px solid #3EB8EA !important;
  }

  &:focus{
    border: 1px solid #3EB8EA;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
  }
}

.searchInput{
  input{
    border-radius: 2px;
    border: 1px solid #ABBED3;
    font-family: $font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #536377;
    &::placeholder{
      color: #ABB3BC;;
    }

    &:hover{
      border: 1px solid #3EB8EA !important;
    }

    &:focus{
      border: 1px solid #3EB8EA;
      box-sizing: border-box;
      box-shadow: 0px 0px 4px rgba(24, 144, 255, 0.5);
    }
  }
}

.large-input{
  .ant-input-affix-wrapper{
    height: 40px;
  }
  height: 40px;
}

//Date Picker
.ant-calendar-picker{
  border-radius: 2px;

  .ant-calendar-picker-input{
    border: 1px solid #ABBED3 !important;
    &:hover{
      border: 1px solid #3EB8EA !important;
    }

  }
  .ant-calendar-date-panel{
    font-family: $font;
    font-size: 14px;
  }
}

.ant-calendar-input {
  &:focus{
    outline: none;
  }
}
.ant-calendar-my-select{
  a{
    color: #125A90 !important;
  }

}

.ant-calendar-date{
  color: #536377;
}

.ant-calendar-picker-input.ant-input{
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #536377;
  border-radius: 2px;
}

.ant-calendar-selected-day .ant-calendar-date{
  border: 1px solid #2AABE8;
  background: #B5E6F7;
  color: #1D8BC6 !important;
}

.ant-calendar-today .ant-calendar-date{
  border: 1px solid #1D8BC6;
  font-weight: normal;
  color: #536377;
}

//RadioButton

.ant-radio-button-wrapper{
  border: 1px solid #ABBED3;
  transition:none;
  outline: none !important;
  box-shadow:none;
  line-height: 33px;
  &:not(:first-child){
    &::before{
      background-color: transparent;
    }
    border-left: none;
  }
  &:first-child{
    border-radius: 2px 0 0 2px;
    border-left: 1px solid #ABBED3;;
  }
  &:last-child{
    border-radius: 0 2px 2px 0;
  }
  .radioText{
    font-family: $font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #536377;

  }

  &:hover{
    .radioText{
      color: #249ED9;
    }
  }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  background-color: #1D8BC6 !important;
  border:1px solid #1D8BC6 !important;
  box-shadow:none;
  .radioText{
    color: #ffffff;
  }
  color: #ffffff;

  &:hover{
    border:1px solid #249ED9 !important;
    box-shadow:none;
    background: #249ED9 !important;
    color: #ffffff;
  }

}

// Select

.ant-select-selection{
  font-family: $font;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  color: #536377;
  border: 1px solid #ABBED3;
  border-radius: 2px;

  .icon{
    margin-right: 4px;
    svg{
      margin-top: -3px;
    }
  }

  .selectIcon{
    margin-top: -3px;

  }

  .ant-select-arrow .ant-select-arrow-icon svg{
    transition: none;
  }

  .ant-select-selection__placeholder{
    padding-left: 0;
  }
}
.ant-select-open .ant-select-arrow-icon svg{
  transform: none !important;
}

.selectDropdown{
  li{
    font-family: $font;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #536377;

    .icon{
      margin-right: 4px;
      svg{
        margin-top: -3px;
      }
    }

    .selectIcon{
      margin-top: -3px;

    }
  }

  .ant-select-dropdown-menu-item-group-title{
    font-family: $font;
    font-size: 12px;
    letter-spacing: 0.4px;
    color: #858E99;
  }
}

//Tree

.ant-tree-node-content-wrapper{
  font-family: $font;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.25px;
  span{
    color: #536377;
  }


}

.ant-tree-child-tree{
  .ant-tree-title{
    font-weight: normal;
  }

}

//Checkbox
.checkboxGroup{
  .ant-row{
    &:last-child{
      .checkbox{
        margin-bottom: 0;
      }

    }
    .checkbox{
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      .ant-checkbox-inner{
        border: 1px solid #ABBED3;
        border-radius: 2px;
      }
      .ant-checkbox-checked{
        .ant-checkbox-inner{
          border: 1px solid #1D8BC6;
        }
      }
      .checkboxText{
        font-family: $font;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.25px;
        color: #536377;
      }
    }
  }
}


.button{
  font-family: $font;

  &--borderless{
    border: none;
    padding: 0 8px;
    span{
      color: $blue-8;
    }
  }

  &--disabled{
    border: none;
    padding: 0 8px;
    span {
      color: $gray-6;
    }
  }
}

.ant-tabs-tabpane-inactive{
  height: 0;
}

//Table
.ant-empty-image{
  display: none !important;
}
.ant-table-small{
  border: none;
}
table{
  th{
    color: $gray-8 !important;
  }
}
//Badge
.ant-badge-status-dot{
  vertical-align: baseline;
}

//ICON
.customIcon{
  display: flex;
}

//ROW
.flex-row{
  display: flex !important;
}

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover{
  border: none;
}

//other
.bold{
  > *{
    font-weight: 500;
  }
  font-weight: 500;
}

.ant-popover {
  &-inner-content {
    padding: 8px 12px;
  }
}
