@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

$light: #ffffff;
$background:#F3F5F7;

$disabledColor:#E5E7EA;

$primary: #125a90;
$blue-800: #1b7ab2;
$primary-light:#E4F1F9;
$primary-dark:#233750;
$primary-hover:#2B84B8;
$light-blue:#e2f5fc;
$dark-blue: #095797;

$font: 'Roboto', sans-serif;
$large-font:24px;
$medium-font:16px;
$small-font:14px;
$font-medium:500;


$border-radius: 2px